Приложение задумано как финтнес приложение для бега, которое отслеживает маршрут бега, время , рассчитывает киллометраж. Чем то похоже на на приложением Nike run club.
Когда пишешь код будь уверен что ты не ломаешь ничего сущесвующего в коде
Используй MCP conext7 при каждом запросе о написании кода